{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
{% endblock %}

{% block title %}Cadastro de usuários{% endblock %}

{# formulário de cadastro de usuário #}
{% block body %}
    <h1 class="msgSucesso"> Sucesso! Cadastro efetuado com sucesso! </h1>
    <a href="{{ url('web_usuario_index') }}">Voltar</a>
{% endblock %}